{% extends "section.html" %}
{% load admin_urls %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url "section_index_url" %}">Home</a> &rsaquo; <a href="{% url "section_url" 'administration' %}">Administration</a> &rsaquo; <a href="{% url "antenatal_call_list_url" %}">Call list</a></div>
{% endblock %}

{% block content %}
<table>
	<thead>
		<th>Antinatal call list</th>
		<th>antenatal enrollment</th>
		<th>call datetime</th>
		<th>first_name</th>
		<th>initials</th>
		<th>consent datetime</th>
		<th>call attempts</th>
		<th>call status</th>
		<th>Modified</th>           
		<th>Modified By</th>
	</thead>

{% for antinatal_call_list in search_result %}
    {% if antinatal_call_list.pk %}
      <!-- obj is a antinatal call list object -->
      <tr>
	  <td><a href="#">{{ antinatal_call_list.antenatal_enrollment.registered_subject.subject_identifier }}</a></td>
	  <td><a href="#">{{ antinatal_call_list.antenatal_enrollment }}</a></td>
	  <td>{{ antinatal_call_list.call_datetime }}</td>
	  <td>{{ antinatal_call_list.first_name }}</td>
	  <td>{{ antinatal_call_list.initials }}</td>
	  <td>{{ antinatal_call_list.consent_datetime }}</td>
	  <td>{{ antinatal_call_list.call_attempts }}</td>
	  <td>{{ antinatal_call_list.call_status }}</td>
	  <td>{{ antinatal_call_list.modified }}</td>
	  <td>{{ antinatal_call_list.modified_by }}</td>
	  </tr>
	{% endif %}
{% endfor %}
</table>
{% endblock content %}
