{% extends "section_administration.html"%}
{% load admin_urls %}
{% load url from future %}

{% block admin_sections %}
    <ul><li><A href="/admin/">All sections</A></ul>
    <H5>Maternal</H5>
    <ul>
    <li><A href="{% url 'admin:microbiome_maternal_maternaleligibility_changelist' %}">Maternal Eligibility</A>
    <li><A href="{% url 'admin:microbiome_maternal_maternalconsent_changelist' %}">Maternal Consents</A>
    <li><A href="{% url 'admin:microbiome_maternal_maternaleligibilityloss_changelist' %}">Maternal Eligibility Loss</A>
    </ul>

	<H5>Call Lists</H5>
	<ul>
	<li><A href="{% url 'antenatal_call_list_url' %}">Antenatal call lists</A></li>
	<li><A href="#">Postnatal call lists</A></li>
	</ul>

{% endblock admin_sections %}
{% block device_sync %}
  {% comment %}if you don't want to see this section, override it in the child template {% endcomment %}
   {% comment %}<H5>Device Synchronization</H5>
  <ul>
  <li><A href="{% url 'sync_index_url' %}">Synchronize devices with Community Server (Return)</A></li>
  {% block device_sync_export %}
      <li><A href="{% url 'sync_export_outgoing_url' %}">Export outgoing transactions to file</A></li>
  {% endblock device_sync_export %}
  {% block device_inspector %}{% endblock device_inspector %}
  </ul> {% endcomment %}
{% endblock device_sync %}
