Django==1.6
python-dateutil
Unipath
django-revision
factory-boy
-e git+https://github.com/botswana-harvard/edc@develop#egg=edc
-e git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc_constants
-e git+https://github.com/botswana-harvard/edc-base@develop#egg=edc_base
-e git+https://github.com/botswana-harvard/edc-locator.git@develop#egg=edc_locator
