Django==1.6.11
M2Crypto==0.22.3
django-tastypie==0.12.2
django_extensions==1.4.8
python-dateutil==2.3
django_databrowse==2014.9.26
numpy==1.9.1
Unipath==1.1
GitPython==1.0.1
factory-boy==2.4.1
pytz==2015.6
pyodbc==3.0.7
pycups
mysql-python==1.2.5
pandas
South==1.0.2
requests==2.9.1
git+https://github.com/botswana-harvard/edc-admin-exclude@d1cb10ae567d07af0da9276f3accba84f59cbf0e#egg=edc-admin-exclude
git+https://github.com/botswana-harvard/edc-appointment.git@f03680212b5a55f6bd69bb38207888f8ff20957b#egg=edc-appointment
git+https://github.com/botswana-harvard/edc-audit@f902c5410ca7ad742ca4c49bc6d3b2813563790a#egg=edc-audit
git+https://github.com/botswana-harvard/edc-base@5cc6d1b1f37537df84310b1ce4f8d0fd3a064cc1#egg=edc-base
git+https://github.com/botswana-harvard/edc-call-manager.git@9604c68e60d501d5340045cdd1d5fa79b0dd31aa#egg=edc_call_manager
git+https://github.com/botswana-harvard/edc-configuration@d337c23ad45e7ae86d2ce9bffd192202e37eda33#egg=edc-configuration
git+https://github.com/botswana-harvard/edc-code-lists@2e3a9aef57d80a0787cff735db9c10fc3dbe7add#egg=edc-code-lists
git+https://github.com/botswana-harvard/edc-consent@9bf8b7fd703177a56b57dd085e4600a6c7e7c982#egg=edc-consent
git+https://github.com/botswana-harvard/edc-constants@e82666db173999a1932eb19ba2085abf941ea700#egg=edc-constants
git+https://github.com/botswana-harvard/edc-content-type-map@1b668a3b4ceddab73cc144641b0a15627aa8c16a#egg=edc-content_type_map
git+https://github.com/botswana-harvard/edc-crypto-fields@f03f974bfbe8e6c8ce5924e4607b332c2e973094#egg=edc-crypto-fields
git+https://github.com/botswana-harvard/edc-dashboard@a15b8f906bf45a887c57ed8af7f9c1434376ea25#egg=edc-dashboard
git+https://github.com/botswana-harvard/edc-data-dictionary@09dab5d035f75314343b3ceb9c91ff0836a45d55#egg=edc-data-dictionary
git+https://github.com/botswana-harvard/edc-data-manager@884aa3cfadf4f604f638c4d269d0cf18329d6a93#egg=edc-data-manager
git+https://github.com/botswana-harvard/edc-death-report@1544a77456dcdf7ffbdbf709c90c20cd093c7321#egg=edc-death-report
git+https://github.com/botswana-harvard/edc-device@e7d9ffda82566ce9139bff29d2b266c633ac7544#egg=edc-device
git+https://github.com/botswana-harvard/edc-export@9df2a7cf5ff1dfb2e3f499db2011ff12dc40f32f#egg=edc-export
git+https://github.com/botswana-harvard/edc-identifier@62b53d57570bf805c352d4118843c62c0fbc8851#egg=edc-identifier
git+https://github.com/botswana-harvard/edc-lab@03bdb44f1b310f150dd388fb3b21268a87bdf313#egg=edc-lab
git+https://github.com/botswana-harvard/edc-locator.git@b912f239ca5d89d0c06e71977565b1cf61c0e092#egg=edc-locator
git+https://github.com/botswana-harvard/edc-meta-data@4c6f26c3d5777b35b89c8883d1ff61ea99c63911#egg=edc-meta-data
git+https://github.com/botswana-harvard/edc-notification@794149dd948060b0cecfca5e9accec2bc72be9f6#egg=edc-notification
git+https://github.com/botswana-harvard/edc-offstudy@f4ca2cf906306b9e12868b71e13319c380084dae#egg=edc-offstudy
git+https://github.com/botswana-harvard/edc-registration@338eb99270b73167c1a2088014bdc9de5f56a526#egg=edc-registration
git+https://github.com/botswana-harvard/edc-rule-groups@aa0a73de704256df4ae2423caba8fbe2bd373986#egg=edc-rule-groups
git+https://github.com/botswana-harvard/edc-sync@740b24ae565e3b98263289865ecd896f27c48a27#egg=edc-sync
git+https://github.com/botswana-harvard/edc-templates@d505a77aab9e8ae917e1052c942fd359c8745e5c#egg=edc-templates
git+https://github.com/botswana-harvard/edc-testing@9fef766ea99499db2c0f8fca083f6ffa5fca6ed6#egg=edc-testing
git+https://github.com/botswana-harvard/edc-visit-schedule.git@3eda7c82f44e9541a82f3f9236b4731da2ce5784#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/edc-visit-tracking@95362749ce09fcfd6eaec76fc31b15052b48792c#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/lab-requisition@65130942d5f80e2779710c6e691267a23dc9ca8a#egg=lab-requisition
git+https://github.com/botswana-harvard/lis@2d68a53881622cc65b0e12ed2aadd64477db95a9#egg=lis
git+https://github.com/erikvw/django-revision@0512c1f11dca3543965ed6d0d9995873e359b1e7#egg=django-revision
