{% extends "base.html" %}

{% block main %}

	<div class="container" style="float:left;">
          <div class="row">
        
            <!--<div class="col-sm-2 sidebar_left">
               <p class="visible-xs">
                <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
              </p>
              <div class="well sidebar-nav">
                <ul class="nav">
                  {% for option in left_sidebar_options %}
                      <li><a name="{{ option.name }}" href="{{option.href}}" >{{ option.link_text|lower }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div> -->
            {%block content %}
	          <div class="col-sm-10 table-bordered" style="height:auto; padding:20px 0 0; width:105%; margin-top:25px; margin-left:20px;">
	          	<div class="row" style="height:50px; padding:10px;">
	          		<div class="col-md-12" class="list-inline">
		          		
		          		<ul class="list-inline">
		          			<li style="margin-left:10px;">
		          				<mark>
		          				<a href="{% url 'admin:microbiome_subjectconsent_add' %}?dashboard_id={{dashboard_id}}" >Add Consent</a>
		          				</mark>
		          			</li>
		          			|
		          			<li>
		          				<mark>
		          				<a href="{% url 'admin:microbiome_maternaleligibilitypost_add' %}" >Add Maternal Eligibility Post</a>
		          				</mark>
		          			</li>
		          		</ul>
		          		</mark>
	          		</div>
	          		<div class="col-md-1">
	          		</div>
	          	</div>
	          </div>
             {%endblock content%}
            
            {%block sidebar_right%}
            <div class="col-sm-2 sidebar_right" id='sidebarRight' role="navigation" style="background-color:#D2D6CF;">
               <p class="visible-xs">
                <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
              </p>
                <ul class="nav">
                {% for option in right_sidebar_options %}
                    <li><a name="{{ option.name }}" href="{{option.href}}" >{{ option.link_text|lower }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endblock sidebar_right %}
      </div><!--/row-->
    </div><!--/.container-->
{% endblock main %}