{% extends "base.html" %}
{% load admin_urls %}

{% block main %}
<!-- Page Content -->
    <div class="container" style="float:left; margin-left:-20px;">

        <!-- Home page links -->
        <div class="row" style="margin-top:5%;">
			<div class="col-lg-12">
	            <div class="col-lg-6 text-center">
	            	<a href="{% url 'admin:microbiome_maternalscreening_add' %}?next={% url 'dashboard' %}">
	                <img class="img-circle img-responsive img-center" id='enrollment' src="../../static/img/home_page_button.png"  alt="">
	                </a>
	                <h3>Enroll Mother</h3>
	            </div>
	            <div class="col-lg-6 col-sm-14 text-center">
	            	<a href="#">
	                <img class="img-circle img-responsive img-center" src="../../static/img/home_page_button.png" alt="">
	                </a>
	                <h3>Maternal Dashboard</h3>
	            </div>
			</div>
			<div class="col-lg-12" style="margin-top:2%;">
	            <div class="col-lg-6 col-sm-6 text-center">
	            	<a href="#">
	                <img class="img-circle img-responsive img-center" src="../../static/img/home_page_button.png" alt="">
	                </a>
	                <h3>Infant</h3>
            	</div> 
	            <div class="col-lg-6 col-sm-14 text-center">
	            	<a href="#">
	                <img class="img-circle img-responsive img-center" src="../../static/img/home_page_button.png" alt="">
	                </a>
	                <h3>Reports</h3>
	            </div>
            </div>
        </div>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
{% endblock main %}