{% extends "base_registered_subject_dashboard.html"%}
{% load common_tags %}{% load crypto_tags %}

{% block clinic_dashboard_marquee %}
    {% if infant_birth%}
    <table>
    <tr style="background:lightyellow;">
    <td><B>Name:</B> {{infant_birth.first_name|encrypted }} ({{ infant_birth.initials|encrypted }})</td>  
    <td><B>Gender:</B> {{infant_birth.gender|gender }} </td> 
    <td><B>Born:</B> {{infant_birth.dob|date:"Y-m-d" }}</td> 
    <td><B>Age:</B> {% if infant_birth.dob %}{{infant_birth.dob|age }}{% endif %} </td> 
    {% else %}
    <td><B>Name:</B> BABY-{{maternal_consent.first_name|encrypted}}</td> 
    {% endif %}
    </tr>
    <tr style=background:lightyellow;">
        <td><B>HIV status:</B> {{ infant_hiv_status }}</td>
    </tr>
</table>
    
{% endblock %}

{% if maternal_consent %}
    {% block maternal_consent %}
    <tr name="top right"><td>
    <H3>Mother</H3>
        <ul><A href="{% url 'subject_dashboard_url' dashboard_type='maternal' dashboard_model='maternal_eligibility' dashboard_id=maternal_eligibility.pk show='appointments' %}">{{ maternal_eligibility.registered_subject.subject_identifier }} [{{ maternal_consent.initials|encrypted }}]</A>
    </td></tr>
    {% endblock maternal_consent %}
{% endif %}
