{% extends "receive.html" %}
{% block content %}
	<h2 class="sub-header">{{section_head}}</h2>
    <div class="table-responsive">
      <table class="table table-striped">
      <tr>
        {% for head in header %}
            <th>{{head}}</th>
        {% endfor %}
      </tr>
      {% for batch in batches %}
        <tr>
          <td><a href="{% url 'batch' batch_identifier=batch.batch_identifier %}">{{batch.batch_identifier}}</a></td>
          <td>{{batch.item_count}}</td>
          <td>{{batch.status}}</td>
          <td>{{batch.protocol_number}}</td>
          <td>{{batch.site_code}}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
{% endblock %}